<!DOCTYPE html>
<html>
<head>
<title>{{title}}</title>
<style>
#messagebox {
	height: 200px;
	width: 500px;
}
</style>
</head>
<body>
<h3 class="style">詢價單</h3>
<form method="post" action="/inquiry" name="invoice">
	<fieldset>
		<p>
			<label for="name">姓名:</label><br>
			<input name="name" type="text" class="textbox">
		</p>
		<p>
			<label for="companyName">公司名稱：</label><br>
			<input name="companyName" type="text" class="textbox">
		</p>
		<p>
			<label for="email">Email:</label><br>
			<input name="email" type="text" class="textbox">
		</p>
		<p>
			<label for="message">留言內容:</label>
		</p>
		<p>
			<textarea id="messagebox" name="message"></textarea>
		</p>
		<table width="98%" border="1" cellspacing="0">
		<colgroup width="26"></colgroup><colgroup span="3" width="104"></colgroup><colgroup width="131"></colgroup>
		<tr>
			<td height="17" align="center" bgcolor="#CCCCCC">
				<br>
			</td>
			<td align="center" bgcolor="#CCCCCC">
				ITEM NO.
			</td>
			<td align="center" bgcolor="#CCCCCC">
				ANNUALQ' TY
			</td>
			<td align="center" bgcolor="#CCCCCC">
				Q' TY / LOT
			</td>
			<td align="center" bgcolor="#CCCCCC">
				US$ / 1,000PCS
			</td>
		</tr>
		<tr>
			<td height="17" align="center" sdval="1" sdnum="1028;">
				1
			</td>
			<td align="center">
				<label for="ITEM_1"></label><input id="ITEM_1" type="text" name="ITEM_1"><br>
			</td>
			<td align="center">
				<label for="ANN_1"></label><input id="ANN_1" type="text" name="ANN_1"><br>
			</td>
			<td align="center">
				<label for="QTY_1"></label><input id="QTY_1" type="text" name="QTY_1"><br>
			</td>
			<td align="center">
				<label for="US_1"></label><input id="US_1" type="text" name="US_1"><br>
			</td>
		</tr>
		<tr>
			<td height="17" align="center" bgcolor="#CCCCCC" sdval="2" sdnum="1028;">
				2
			</td>
			<td align="center">
				<label for="ITEM_2"></label><input id="ITEM_2" type="text" name="ITEM_2"><br>
			</td>
			<td align="center">
				<label for="ANN_2"></label><input id="ANN_2" type="text" name="ANN_2"><br>
			</td>
			<td align="center">
				<label for="QTY_2"></label><input id="QTY_2" type="text" name="QTY_2"><br>
			</td>
			<td align="center">
				<label for="US_2"></label><input id="US_2" type="text" name="US_2"><br>
			</td>
		</tr>
		<tr>
			<td height="17" align="center" sdval="3" sdnum="1028;">
				3
			</td>
			<td align="center">
				<label for="ITEM_3"></label><input id="ITEM_3" type="text" name="ITEM_3"><br>
			</td>
			<td align="center">
				<label for="ANN_3"></label><input id="ANN_3" type="text" name="ANN_3"><br>
			</td>
			<td align="center">
				<label for="QTY_3"></label><input id="QTY_3" type="text" name="QTY_3"><br>
			</td>
			<td align="center">
				<label for="US_3"></label><input id="US_3" type="text" name="US_3"><br>
			</td>
		</tr>
		<tr>
			<td height="17" align="center" bgcolor="#CCCCCC" sdval="4" sdnum="1028;">
				4
			</td>
			<td align="center">
				<label for="ITEM_4"></label><input id="ITEM_4" type="text" name="ITEM_4"><br>
			</td>
			<td align="center">
				<label for="ANN_4"></label><input id="ANN_4" type="text" name="ANN_4"><br>
			</td>
			<td align="center">
				<label for="QTY_4"></label><input id="QTY_4" type="text" name="QTY_4"><br>
			</td>
			<td align="center">
				<label for="US_4"></label><input id="US_4" type="text" name="US_4"><br>
			</td>
		</tr>
		<tr>
			<td height="17" align="center" sdval="5" sdnum="1028;">
				5
			</td>
			<td align="center">
				<label for="ITEM_5"></label><input id="ITEM_5" type="text" name="ITEM_5"><br>
			</td>
			<td align="center">
				<label for="ANN_5"></label><input id="ANN_5" type="text" name="ANN_5"><br>
			</td>
			<td align="center">
				<label for="QTY_5"></label><input id="QTY_5" type="text" name="QTY_5"><br>
			</td>
			<td align="center">
				<label for="US_5"></label><input id="US_5" type="text" name="US_5"><br>
			</td>
		</tr>
		</table>
		<p>
			<input name="submit" type="submit" value="送出">
		</p>
	</fieldset>
</form>
<script>
//Replace new line with break
var messagebox = document.getElementById("messagebox");
messagebox.addEventListener("keyup", function(){
	var x = messagebox.value.replace(/\n/g, '<br/>');
	messagebox.innerHTML = x;
});
</script>	
</body>
</html>